<!DOCTYPE html>
<html>
<head>
    <title>Flask mySQL</title>
  
</head>
<!-- Tailwind CSS via CDN -->
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-white-200">

<header class="bg-blue-200 text-black p-4">
    <h1 class="text-4xl">Patient Information</h1>
</header>

<table class="border-collapse border border-black-400">
    <thead>
        <tr>
            <th class="border border-black-600 p-2">Patient ID</th>
            <th class="border border-black-600 p-2">MRN</th>
            <th class="border border-black-600 p-2">First Name</th>
            <th class="border border-black-600 p-2">Last Name</th>
            <th class="border border-black-600 p-2">Date of Birth</th>
            <th class="border border-black-600 p-2">Address</th>
            <th class="border border-black-600 p-2">Phone Number</th>
            <th class="border border-black-600 p-2">Email</th>
        </tr>
    </thead>
    <tbody>
        {% for patient in patients %}
            <tr>
                <td class="border border-black-600 p-2">{{ patient.patient_id }}</td>
                <td class="border border-black-600 p-2">{{ patient.MRN }}</td>
                {% for demographic in demographics %}
                    <td class="border border-black-600 p-2">{{ demographic.first_name }}</td>
                    <td class="border border-black-600 p-2">{{ demographic.last_name }}</td>
                    <td class="border border-black-600 p-2">{{ demographic.date_of_birth }}</td>
                    <td class="border border-black-600 p-2">{{ demographic.address }}</td>
                    <td class="border border-black-600 p-2">{{ demographic.phone_number }}</td>
                    <td class="border border-black-600 p-2">{{ demographic.email }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>


<footer class="bg-blue-200 text-white p-4 mt-6">

</footer>


</body>
</html>